<div class="row mg-t-2">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        打算打打
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        大大大大大大
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        大阿达撒大大大
      </div>
    </div>
  </div>
</div>

