<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/chat/dist/chat.css">
    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Note</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/note/list">笔记</a></li>
              <li><a href="/mine">我的主页</a></li>
              <li class="active"><a href="/chat">聊天</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><img src="{{currentUser.thumbnail}}" alt="thumbnail" class="img-circle user-photo"></li>
              <li><a href="#">欢迎你, {{currentUser.nickname}}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/auth/logout">退出</a></li>
                </ul>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container">
      {{#if flash}}
          <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{flash.message}}
          </div>
      {{/if}}

      <div class="row">

        <div class="col-md-2 col-xs-12">
          <div class="list-group rooms" id="rooms">
            
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="list-group users" id="users">
            
          </div>
        </div>

        <div class="col-sm-8 col-xs-12">

          <div class="panel panel-default chat-box">
            <div class="panel-body">
              <ul id="chat-box">
              
              </ul>
            </div>
          </div>

          <div class="btn-toolbar" role="toolbar">
              <div class="btn-group" role="group">
                <button class="btn btn-default" role="button" id="tooltip-icons-btn">
                  <span class="glyphicon glyphicon-gift"></span>
                </button>
              </div>
              <div class="hidden">
              <div id="tooltip-icons">
                <div class="clearfix tooltip-icons">
                  <div class="tooltip-icon" data-fa="signing"><i class="fa fa-signing"></i></div>
                  <div class="tooltip-icon" data-fa="birthdayCake"><i class="fa fa-birthday-cake"></i></div>
                  <div class="tooltip-icon" data-fa="bomb"><i class="fa fa-bomb"></i></div>
                  <div class="tooltip-icon" data-fa="female"><i class="fa fa-female"></i></div>
                  <div class="tooltip-icon" data-fa="handGrabO"><i class="fa fa-hand-grab-o"></i></div>
                  <div class="tooltip-icon" data-fa="handPeaceO"><i class="fa fa-hand-peace-o"></i></div>
                  <div class="tooltip-icon" data-fa="handStopO"><i class="fa fa-hand-stop-o"></i></div>
                  <div class="tooltip-icon" data-fa="heart"><i class="fa fa-heart"></i></div>
                  <div class="tooltip-icon" data-fa="thumbsODown"><i class="fa fa-thumbs-o-down"></i></div>
                  <div class="tooltip-icon" data-fa="thumbsOUp"><i class="fa fa-thumbs-o-up"></i></div>
                  <div class="tooltip-icon" data-fa="rocket"><i class="fa fa-rocket"></i></div>
                  <div class="tooltip-icon" data-fa="taxi"><i class="fa fa-taxi"></i></div>
                  <div class="tooltip-icon" data-fa="twitter"><i class="fa fa-twitter"></i></div>
                </div>
              </div>
            </div>
          </div>
            
          <form class="form-horizontal" id="chat-form">
            <div class="form-group">
              <div class="col-xs-10">
                <input type="text" class="form-control" id="chat-text" placeholder="请输入内容" autocomplete="off">
              </div>
              <div class="col-xs-2">
                <button type="submit" class="btn btn-info pull-right">提交</button>
              </div>
            </div>
          </form>

        </div>

      </div>
      
    </div>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat/dist/chat.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>




