<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Note</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" method="post" action="/auth/login">
              <div class="form-group">
                <input type="text" placeholder="用户名" class="form-control" name="account">
              </div>
              <div class="form-group">
                <input type="password" placeholder="密码" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-warning">登陆</button>
              <a class="btn btn-link" href="/auth/regist">注册</a>
            </form>
          </div><!--/.navbar-collapse -->
    </nav>
    
    <div class="container">
      {{#if flash}}
          <div class="alert alert-{{flash.type}} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{flash.message}}
          </div>
      {{/if}}
      <form method="post">
        <div class="form-group">
          <label for="account">账号</label>
          <input type="text" class="form-control" id="account" name="account" placeholder="账号">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="密码">
        </div>
        <div class="form-group">
          <label for="nickname">昵称</label>
          <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称">
        </div>
        <button type="submit" class="btn btn-default">注册</button>
      </form>
    </div>

      
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>